name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test rules
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up pnpm
      uses: pnpm/action-setup@v2
      with:
        run_install: false

    - name: Set up node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version-file: ".nvmrc"
        cache: "pnpm"

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Run test
      uses: mathiasvr/command-output@8dbf451add3db114df0114aa5e21a1efef8c5015 # v1
      id: test
      with:
        run: pnpm run --silent test

    - name: Find issue comment
      if: ${{ always() && github.event_name == 'pull_request' }}
      uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4
      id: comment
      with:
        issue-number: ${{ github.event.pull_request.number }}
        comment-author: 'github-actions[bot]'
        body-includes: "<!-- testing workflow output -->"

    - name: Create or update comment
      if: ${{ always() && github.event_name == 'pull_request' }}
      uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5
      with:
        comment-id: ${{ steps.comment.outputs.comment-id }}
        issue-number: ${{ github.event.pull_request.number }}
        body: |
          <!-- testing workflow output -->
          ${{ steps.test.outputs.stdout }}
        edit-mode: replace
